# Browsers that we support

[development]
last 1 version
last 2 node major versions
not dead
not baidu > 0
not ie > 0
not kaios > 0
not opera > 0
not op_mob > 0
not operamini all
not and_qq > 0
not and_uc > 0
not android > 0

[production]
> 0.1%
last 2 node major versions
not dead
not ie > 0
not opera > 0
not op_mini all
not and_qq > 0
not and_uc > 0
not android > 0
